
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  @apply bg-[#1F1F1F] text-white;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  @apply scroll-smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
